.blog-section{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30px;
}
.blog-section-heading{
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    color: var(--secondary-color);
}
.blog-section-paragraph{
    font-size: 16px;
    width: 40%;
    text-align: center;
    font-weight: 500;
    color: var(--p-color);
    margin-top: 20px;
}
.blog-section-grid{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 30px;
    margin-top: 50px;
}
.blog-section-grid-item{
    width: auto;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.blog-section-grid-item:first-child {
    grid-row: span 2;
    height: 100%;
}
.blog-section-grid-item-img{
    width: 480px;
    height: 270px;
    object-fit: cover;
}
.blog-section-grid-item-paragraph{
    font-size: 16px;
    font-weight: 500;
    color: var(--p-color);
    display: inline-block;
    margin-top: 20px;
}
.blog-section-grid-item-paragraph:nth-child(2){
    margin-top: 0px;
}
.blog-section-grid-item-paragraph:nth-child(3){
    margin-top: 0px;
}
.blog-section-grid-item-heading{
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-top: 20px;
}
.blog-section-grid-item:nth-child(2){
    display: flex;
    gap: 20px;
}       
.blog-section-grid-item:nth-child(3) {
    display: flex;
    gap: 20px;
}
.blog-section-grid-item-img-2{
    width: 117px;
    height: 185px;
    object-fit: cover;
}
.blog-section-grid-item-link{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.blog-section-grid-item-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blog-section-grid-item-info .blog-section-grid-item-heading {
    margin-top: 0;
}
