.footer{
    background-color: var(--secondary-color);
    padding: 100px 30px;
    height: auto;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  
}
.footer-grid-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-grid-item:nth-child(1){
    width: 350px;
    height: 263px;
}
.footer-grid-item-logo{
    display: flex;
    align-items: center;
 
}
.footer-grid-item-logo-img{
    width: 80px;
    height: 80px;
}
.footer-grid-item-logo-heading{
    font-size: 33px;
    font-weight: 600;
    color: white;
}
.footer-grid-item-paragraph{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.footer-grid-item-social{
    display: flex;
    gap: 20px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.fa-facebook{
    background-color: #3b5998;
    padding: 4px;
    border-radius: 4px;
}
.fa-twitter{
    background-color: #00aced;
    padding: 4px;
    border-radius: 4px;
}
.fa-instagram{
    background-color: #e4405f;
    padding: 5px;
    border-radius: 4px;
}
.fa-linkedin{
    background-color: #007bb6;
    padding: 5px;
    border-radius: 4px;
}
.fa-pinterest{
    background-color: #cb2027;
    padding: 5px;
    border-radius: 4px;
}
.footer-grid-item-heading{
    font-size: 24px;
    font-weight: 500;
    color: white;
}
.footer-grid-item-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
.footer-grid-item-links-item{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.footer-grid-item-links-item-link{
    text-decoration: none;
    color: white;
}
.footer-grid-item-links-item-link:hover{
    color: var(--primary-color);
}
.footer-grid-item-input{
    padding: 15px;
    border-radius: 35px;
    border: none;
    width: 100%;
}
.footer-grid-item-input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: var(--p-color);
}
.footer-grid-item-button{
    background-color: var(--primary-color);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.footer-grid-item-button:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}
.footer-bottom{
    text-align: center;
    margin-top: 30px;
}
.footer-bottom-paragraph{
    font-size: 16px;
    font-weight: 400;
    color: white;
}

