* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}
:root {
    --primary-color: #eec41e;
    --secondary-color: #38424D;
    --p-color: #747E88;
    --bg-color: #F9FAFB;
    --border-color: #dbdbdb;
}