.packages-section {
    background-color: #F9FAFB;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30px;
}

.packages-section-heading {
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    color: var(--secondary-color);
}

.packages-section-paragraph {
    font-size: 16px;
    width: 40%;
    text-align: center;
    font-weight: 500;
    color: var(--p-color);
    word-spacing: 2px;
    margin-top: 20px;
}

.packages-setion-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.packages-setion-grid-item {
    width: 350px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.packages-setion-grid-item-img {
    height: 258px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.packages-setion-grid-item-heading {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 15px;
    cursor: pointer;
}

.packages-setion-grid-item-paragraph {
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
}

.packages-section-grid-book-now {
    position: absolute;
    bottom: 95px;
    right: 30px;
}

.packages-section-grid-book-now-button {
    background-color: white;
    color: var(--secondary-color);
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.packages-setion-grid-item-info {
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: all 0.4s ease-out;
}

.packages-setion-grid-item:hover {
    background-color: var(--primary-color);
}

.packages-setion-grid-item:hover .packages-setion-grid-item-heading,
.packages-setion-grid-item:hover .packages-setion-grid-item-paragraph {
    color: white;
    transition: all 0.2s ease-out;
}

.packages-setion-grid-item:hover .packages-setion-grid-item-button {
    background-color: white;
}

.packages-setion-grid-item:hover .fa-angle-right {
    color: var(--primary-color);
}

.packages-setion-grid-item-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.packages-setion-grid-item-button:hover {
    background-color: white;
    transition: all 0.3s ease;
}

.fa-angle-right {
    color: white;
    font-size: 20px;

}

.packages-setion-grid-item-button:hover .fa-angle-right {
    color: var(--primary-color);
    transition: all 0.3s ease;
}